<launch>
	<node pkg="altimeter_pub" type="altimeter_pub" name="altimeter_publisher" output="screen" />
	<node name="nmea_serial_driver" pkg="nmea_navsat_driver" type="nmea_serial_driver">
		<param name="port" value="/dev/GPS" />
		<param name="baud" value="4800" />
		<param name="frame_id" value="gps_initial_frame" />
		<param name="useRMC" value="false" />
	</node>
</launch>
